.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-tze2JIV_u);
  box-shadow: 0px 4px 16px 0px var(--token-QMayuc102);
  border-radius: 2px;
  padding: var(--token-jA840K8cs);
}
.rootbg_yellow {
  background: var(--token-FpWQpvmos);
}
.rootbg_orange {
  background: var(--token-pHc0CSHPE);
}
.rootbg_blue {
  background: var(--token-rbxblu3Hd);
}
.rootbg_red {
  background: var(--token-7y9V0dm0-);
}
.rootbg_purple {
  background: var(--token-9BBOxo3h9);
}
.rootbg_grey {
  background: var(--token-3F-Dll6EN);
}
.slotTargetContentbg_mint {
  color: var(--token-mfRasWXgp);
}
.slotTargetContentbg_yellow {
  color: var(--token-mfRasWXgp);
}
.slotTargetContentbg_orange {
  color: var(--token-mfRasWXgp);
}
.slotTargetContentbg_blue {
  color: var(--token-mfRasWXgp);
}
.slotTargetContentbg_red {
  color: var(--token-EkgtUgXeT);
}
.slotTargetContentbg_purple {
  color: var(--token-EkgtUgXeT);
}
.slotTargetContentbg_grey {
  color: var(--token-HCE3dosEr);
}
.text___4Lrap {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-mfRasWXgp);
  min-width: 0;
}
