.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.casestudy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__uZ61G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  left: auto;
  top: auto;
  z-index: auto;
  right: auto;
  width: 100%;
  object-position: 75% top;
}
.img__uZ61G > picture > img {
  object-fit: cover;
  object-position: 75% top;
}
.img__uZ61G > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 75% top;
}
.tag___7Gae2:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
}
.text__vzVik {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__bdu4D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.text__umOdF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__cgfqy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__qZdWv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__dvOsY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bruHo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__fdX4E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__p98C9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.text__peB8U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__fqoek {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-2B3TB9Igd);
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__fqoek > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.freeBox__fqoek > :global(.__wab_flex-container) > *,
.freeBox__fqoek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fqoek > :global(.__wab_flex-container) > picture > img,
.freeBox__fqoek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.h4__wDiec {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__rrwAn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-2B3TB9Igd);
  min-width: 0;
}
.freeBox__rrwAn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-AXW6MdvYn));
  height: calc(100% + var(--token-AXW6MdvYn));
}
.freeBox__rrwAn > :global(.__wab_flex-container) > *,
.freeBox__rrwAn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrwAn > :global(.__wab_flex-container) > picture > img,
.freeBox__rrwAn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-AXW6MdvYn);
}
.text__uq8Jm {
  width: 100%;
  height: auto;
  padding-right: 0px;
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.img__le1Ht {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.img__le1Ht > picture > img {
  object-fit: cover;
}
.img__le1Ht > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___2GA6W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kVbP7 {
  width: 100%;
  height: auto;
  padding-right: 0px;
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__fsTwj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4___89PYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__i6PzI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__aOuVq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4__jIs6F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__iLwNj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.nav {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: var(--token-R8vy1i-sY);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: var(--token-2B3TB9Igd) var(--token-T237bDoLkZ);
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: auto;
    height: auto;
    max-width: 100%;
    left: 0;
    top: auto;
    z-index: 1;
    right: 0;
    bottom: 0;
    background: var(--token-R8vy1i-sY);
    backdrop-filter: blur(5px);
    flex-row-gap: 0px;
    -webkit-backdrop-filter: blur(5px);
    padding: var(--token-2B3TB9Igd) var(--token-T237bDoLkZ);
  }
}
.navglobal_mode_dark {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: var(--token-R8vy1i-sY);
  backdrop-filter: blur(5px);
  flex-row-gap: 0px;
  -webkit-backdrop-filter: blur(5px);
  padding: var(--token-2B3TB9Igd) var(--token-T237bDoLkZ);
}
.navglobal_arrangement_float {
  z-index: 0;
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: var(--token-R8vy1i-sY);
  backdrop-filter: blur(5px);
  flex-row-gap: 0px;
  -webkit-backdrop-filter: blur(5px);
  padding: var(--token-2B3TB9Igd) var(--token-T237bDoLkZ);
}
.reveal:global(.__wab_instance) {
  align-self: auto;
}
@media (min-width: 768px) {
  .reveal:global(.__wab_instance) {
    align-self: auto;
  }
}
.revealglobal_mode_dark:global(.__wab_instance) {
  align-self: auto;
}
.revealglobal_mode_reveal:global(.__wab_instance) {
  align-self: auto;
}
.svg__gfvE {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
@media (min-width: 768px) {
  .svg__gfvE {
    object-fit: cover;
    max-width: 100%;
    width: 2rem;
    height: 2rem;
    position: relative;
  }
}
.svgglobal_mode_dark__gfvEjYvh {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.svgglobal_mode_reveal__gfvEv94Jk {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.home {
  display: flex;
  cursor: pointer;
}
.homeglobal_mode_dark {
  display: flex;
  cursor: pointer;
}
.homeglobal_mode_reveal {
  display: flex;
  cursor: pointer;
}
.svg__zJi4L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
}
.svgglobal_mode_dark__zJi4LjYvh {
  color: var(--token-EkgtUgXeT);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
}
.svgglobal_mode_reveal__zJi4Lv94Jk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
}
.svg__rQtLi {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.svgglobal_mode_dark__rQtLijYvh {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.svgglobal_mode_reveal__rQtLIv94Jk {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
