.root {
  display: flex;
  position: relative;
  opacity: 0.7;
  cursor: pointer;
  border-width: 1px;
  border-style: none;
}
.root:hover {
  opacity: 1;
  transform: translateX(0px) translateY(-1px) translateZ(0px);
}
.root:focus {
  opacity: 1;
  transform: translateX(0px) translateY(-1px) translateZ(0px);
  outline: none;
}
.root:active {
  opacity: 1;
  transform: translateX(0px) translateY(1px) translateZ(0px);
}
.slotTargetIconglobal_mode_dark {
  color: var(--token-EkgtUgXeT);
}
.root:hover .slotTargetIcon {
  color: var(--token-tze2JIV_u);
}
.root:focus .slotTargetIcon {
  color: var(--token-tze2JIV_u);
}
.root:focus .slotTargetIcon > *,
.root:focus .slotTargetIcon > .__wab_slot > *,
.root:focus .slotTargetIcon > .__wab_slot > .__wab_slot > *,
.root:focus .slotTargetIcon > .__wab_slot > .__wab_slot > .__wab_slot > *,
.root:focus .slotTargetIcon > picture > img,
.root:focus .slotTargetIcon > .__wab_slot > picture > img,
.root:focus .slotTargetIcon > .__wab_slot > .__wab_slot > picture > img,
.root:focus
  .slotTargetIcon
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.root:active .slotTargetIcon {
  color: var(--token-IIsLiXO8j);
}
.svg___4AqAa {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
  flex-shrink: 0;
}
