.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: var(--token-AXW6MdvYn);
  padding-bottom: var(--token-2B3TB9Igd);
}
.rootname_likeness {
  padding-top: 0rem;
}
.rootname_words {
  max-width: 480px;
  padding-top: 0rem;
}
.rootname_learnin {
  padding-top: 0rem;
  justify-content: flex-start;
  align-items: center;
}
.rootname_brandtool {
  padding-top: 0rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0rem;
}
.rootname_orgtool {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.rootname_sprints {
  padding: 0px;
}
.rootname_tracks {
  padding-top: 0rem;
}
.words {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.wordsname_likeness {
  display: none;
}
.wordsname_words {
  display: flex;
}
.wordsname_brandtool {
  display: none;
}
.wordsname_orgtool {
  display: none;
}
.text__tUkGt {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
}
.text__eActQ {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
}
.text__q4H87 {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
}
.text__ggcwH {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
}
.text__jmRsy {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
}
.likeness {
  object-fit: cover;
  max-width: 200px;
  display: inline-block !important;
}
.likeness > picture > img {
  object-fit: cover;
}
.likeness > .__wab_img-spacer > img {
  object-fit: cover;
}
.likenessname_likeness {
  align-self: center;
}
.likenessname_words {
  display: none !important;
}
.likenessname_learnin {
  display: none !important;
}
.likenessname_brandtool {
  display: none !important;
}
.likenessname_orgtool {
  display: none !important;
}
.likenessname_sprints {
  display: none !important;
}
.likenessname_tracks {
  display: none !important;
}
.orgtool {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-2B3TB9Igd);
}
.orgtool > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.orgtool > :global(.__wab_flex-container) > *,
.orgtool > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.orgtool > :global(.__wab_flex-container) > picture > img,
.orgtool
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.orgtoolname_orgtool {
  display: flex;
}
.columns__fKfqK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 0;
}
.columns__fKfqK > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fKfqK > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 768px) {
  .columns__fKfqK {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__fKfqK > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__fKfqK > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.columnsname_brandtool__fKfqK02Dcx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columnsname_brandtool__fKfqK02Dcx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columnsname_orgtool__fKfqKmi7Gi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columnsname_orgtool__fKfqKmi7Gi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.column__czaT {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__czaT02Dcx {
  display: flex;
}
.columnname_orgtool__czaTmi7Gi {
  display: flex;
}
.tag__jlXbo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oMpwN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__ltGx2 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__ltGx202Dcx {
  display: flex;
}
.columnname_orgtool__ltGx2Mi7Gi {
  display: flex;
}
.tag___80Bgw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__eJah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.tag__vtN2U:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__elYh9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__vluzm {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 480px;
  min-width: 0;
}
.learnin {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-2B3TB9Igd);
}
.learninname_learnin {
  display: flex;
}
.text__z9Ey {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  margin-bottom: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__r0Wut {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__r0Wut > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-jA840K8cs));
  width: calc(100% + var(--token-jA840K8cs));
}
.freeBox__r0Wut > :global(.__wab_flex-container) > *,
.freeBox__r0Wut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r0Wut > :global(.__wab_flex-container) > picture > img,
.freeBox__r0Wut
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-jA840K8cs);
}
.freeBox__b8ZD3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__hgkQw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__tuHAs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__qHaYy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__y70L2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__xzO0C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__rjN70 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__cZkPa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__tCun {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__mnFug {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__qRw6L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__u6AAk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__a5ZKr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__sK1Ji {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__hHbAf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.tracks {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-2B3TB9Igd);
}
.tracksname_tracks {
  display: flex;
}
.text__rDhas {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  min-width: 0;
}
.freeBox__xSz8B {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-7u0VdrJ4P) 0px;
}
.freeBox__xSz8B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-AXW6MdvYn));
  width: calc(100% + var(--token-AXW6MdvYn));
}
.freeBox__xSz8B > :global(.__wab_flex-container) > *,
.freeBox__xSz8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xSz8B > :global(.__wab_flex-container) > picture > img,
.freeBox__xSz8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AXW6MdvYn);
}
.link__xs6V {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link__xs6V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link__xs6V > :global(.__wab_flex-container) > *,
.link__xs6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xs6V > :global(.__wab_flex-container) > picture > img,
.link__xs6V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__sdmbw {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  opacity: 0.9;
  flex-shrink: 0;
}
.text__sO13D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.link__bIrkC {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link__bIrkC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link__bIrkC > :global(.__wab_flex-container) > *,
.link__bIrkC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bIrkC > :global(.__wab_flex-container) > picture > img,
.link__bIrkC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__wjqFi {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  opacity: 0.9;
  flex-shrink: 0;
}
.text__d3Yj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.link___6NQdw {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link___6NQdw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link___6NQdw > :global(.__wab_flex-container) > *,
.link___6NQdw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___6NQdw > :global(.__wab_flex-container) > picture > img,
.link___6NQdw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__cpFny {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  opacity: 0.9;
  flex-shrink: 0;
}
.text__aampz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.text__qsBq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  line-height: 2;
  min-width: 0;
}
.span {
  color: var(--token-7y9V0dm0-);
  background: #f0f2f280;
  border-radius: 2px;
  padding: var(--token-jA840K8cs) var(--token-2B3TB9Igd);
}
.sprints {
  flex-direction: column;
  position: relative;
  plasmic-display-none: true;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-2B3TB9Igd);
}
.sprints > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.sprints > :global(.__wab_flex-container) > *,
.sprints > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sprints > :global(.__wab_flex-container) > picture > img,
.sprints
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.sprintsname_orgtool {
  display: none;
}
.sprintsname_sprints {
  display: flex;
}
.columns__chWye {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 0;
}
.columns__chWye > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__chWye > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__chWye > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 768px) {
  .columns__chWye {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__chWye > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__chWye > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__chWye > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.columnsname_brandtool__chWye02Dcx > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_brandtool__chWye02Dcx > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_brandtool__chWye02Dcx > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__chWyeMi7Gi > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__chWyeMi7Gi > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__chWyeMi7Gi > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_sprints__chWye9XxcC > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_sprints__chWye9XxcC > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_sprints__chWye9XxcC > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.column__uozKt {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__uozKt02Dcx {
  display: flex;
}
.columnname_orgtool__uozKtMi7Gi {
  display: flex;
}
.columnname_sprints__uozKt9XxcC {
  display: flex;
}
.tag__nAeA4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oOtr7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-HCE3dosEr);
  text-align: center;
  min-width: 0;
}
.column__hg2Hk {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__hg2Hk02Dcx {
  display: flex;
}
.columnname_orgtool__hg2Hkmi7Gi {
  display: flex;
}
.columnname_sprints__hg2Hk9XxcC {
  display: flex;
}
.tag__c7IVv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__v9MUp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-HCE3dosEr);
  text-align: center;
  min-width: 0;
}
.column__kcC5 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__kcC502Dcx {
  display: flex;
}
.columnname_orgtool__kcC5Mi7Gi {
  display: flex;
}
.columnname_sprints__kcC59XxcC {
  display: flex;
}
.tag__v3NoT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__oTmx5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-HCE3dosEr);
  text-align: center;
  min-width: 0;
}
.text__jtaLp {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 480px;
  color: var(--token-HCE3dosEr);
  min-width: 0;
}
.brandtool {
  flex-direction: column;
  position: relative;
  plasmic-display-none: true;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-2B3TB9Igd);
}
.brandtool > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.brandtool > :global(.__wab_flex-container) > *,
.brandtool > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.brandtool > :global(.__wab_flex-container) > picture > img,
.brandtool
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.brandtoolname_orgtool {
  display: none;
}
.columns__gt8Ac {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: wrap;
  min-width: 0;
}
.columns__gt8Ac > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__gt8Ac > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__gt8Ac > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 768px) {
  .columns__gt8Ac {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-row-gap: 0px;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__gt8Ac > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__gt8Ac > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns__gt8Ac > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.columnsname_brandtool__gt8Ac02Dcx > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_brandtool__gt8Ac02Dcx > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_brandtool__gt8Ac02Dcx > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__gt8Acmi7Gi > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__gt8Acmi7Gi > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columnsname_orgtool__gt8Acmi7Gi > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.column__pc6K5 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__pc6K502Dcx {
  display: flex;
}
.columnname_orgtool__pc6K5Mi7Gi {
  display: flex;
}
.tag__aS62V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__bjBvD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__rgUz1 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__rgUz102Dcx {
  display: flex;
}
.columnname_orgtool__rgUz1Mi7Gi {
  display: flex;
}
.tag__bfqLc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text___4AXb2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__xwus4 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-jA840K8cs);
}
.columnname_brandtool__xwus402Dcx {
  display: flex;
}
.columnname_orgtool__xwus4Mi7Gi {
  display: flex;
}
.tag__oB0D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.text__c1Qk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__yFoO8 {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 480px;
  min-width: 0;
}
