.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.rootvariant_words {
  max-width: 480px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 200px;
  display: none !important;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.imgvariant_likeness {
  display: inline-block !important;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: none;
}
.textvariant_words {
  display: block;
}
