@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Rasa%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-mfRasWXgp: #2b393c;
  --plasmic-token-black: var(--token-mfRasWXgp);
  --token-mfRasWXgp: #2b393c;
  --plasmic-token-black: var(--token-mfRasWXgp);
  --token-rLN83stw2: 1rem;
  --plasmic-token-base-font-size: var(--token-rLN83stw2);
  --token-rLN83stw2: 1rem;
  --plasmic-token-base-font-size: var(--token-rLN83stw2);
  --token-tze2JIV_u: #0feebb;
  --plasmic-token-mint: var(--token-tze2JIV_u);
  --token-tze2JIV_u: #0feebb;
  --plasmic-token-mint: var(--token-tze2JIV_u);
  --token-IIsLiXO8j: #1d7b75;
  --plasmic-token-dark-mint: var(--token-IIsLiXO8j);
  --token-IIsLiXO8j: #1d7b75;
  --plasmic-token-dark-mint: var(--token-IIsLiXO8j);
  --token-EkgtUgXeT: #f0f2f2;
  --plasmic-token-white: var(--token-EkgtUgXeT);
  --token-1VSMIXpjx: 7rem;
  --plasmic-token-headline-size: var(--token-1VSMIXpjx);
  --token-1VSMIXpjx: 7rem;
  --plasmic-token-headline-size: var(--token-1VSMIXpjx);
  --token-jA840K8cs: 0.25rem;
  --plasmic-token-quarter-base: var(--token-jA840K8cs);
  --token-jA840K8cs: 0.25rem;
  --plasmic-token-quarter-base: var(--token-jA840K8cs);
  --token-kfE5AuMht: #ffffff40;
  --plasmic-token-haze: var(--token-kfE5AuMht);
  --token-kfE5AuMht: #ffffff40;
  --plasmic-token-haze: var(--token-kfE5AuMht);
  --token-2B3TB9Igd: 0.5rem;
  --plasmic-token-half-base: var(--token-2B3TB9Igd);
  --token-2B3TB9Igd: 0.5rem;
  --plasmic-token-half-base: var(--token-2B3TB9Igd);
  --token-7y9V0dm0-: #f14a21;
  --plasmic-token-red: var(--token-7y9V0dm0-);
  --token-7y9V0dm0-: #f14a21;
  --plasmic-token-red: var(--token-7y9V0dm0-);
  --token-pHc0CSHPE: #fa9826;
  --plasmic-token-orange: var(--token-pHc0CSHPE);
  --token-pHc0CSHPE: #fa9826;
  --plasmic-token-orange: var(--token-pHc0CSHPE);
  --token-FpWQpvmos: #d6e437;
  --plasmic-token-yellow: var(--token-FpWQpvmos);
  --token-FpWQpvmos: #d6e437;
  --plasmic-token-yellow: var(--token-FpWQpvmos);
  --token-hBS1SvodX: #36f53a;
  --plasmic-token-green: var(--token-hBS1SvodX);
  --token-hBS1SvodX: #36f53a;
  --plasmic-token-green: var(--token-hBS1SvodX);
  --token-rbxblu3Hd: #71bded;
  --plasmic-token-blue: var(--token-rbxblu3Hd);
  --token-rbxblu3Hd: #71bded;
  --plasmic-token-blue: var(--token-rbxblu3Hd);
  --token-9BBOxo3h9: #bf69ea;
  --plasmic-token-purple: var(--token-9BBOxo3h9);
  --token-9BBOxo3h9: #bf69ea;
  --plasmic-token-purple: var(--token-9BBOxo3h9);
  --token-AXW6MdvYn: 1rem;
  --plasmic-token-base: var(--token-AXW6MdvYn);
  --token-7u0VdrJ4P: 1.5rem;
  --plasmic-token-base-150: var(--token-7u0VdrJ4P);
  --token-T237bDoLkZ: 2rem;
  --plasmic-token-double: var(--token-T237bDoLkZ);
  --token-Nr1d6jw16: Rasa;
  --plasmic-token-headline: var(--token-Nr1d6jw16);
  --token-aIpMqmzUJ: IBM Plex Mono;
  --plasmic-token-body: var(--token-aIpMqmzUJ);
  --token-rzc5XncK7: 3rem;
  --plasmic-token-triple: var(--token-rzc5XncK7);
  --token-A1Cqx7EV6: 5rem;
  --plasmic-token-five-base: var(--token-A1Cqx7EV6);
  --token-ijuZGsFkZ: 4rem;
  --plasmic-token-four-base: var(--token-ijuZGsFkZ);
  --token-3F-Dll6EN: #2b393c;
  --plasmic-token-grey: var(--token-3F-Dll6EN);
  --token-3F-Dll6EN: #2b393c;
  --plasmic-token-grey: var(--token-3F-Dll6EN);
  --token-HCE3dosEr: #f0f2f2;
  --plasmic-token-grey-text: var(--token-HCE3dosEr);
  --token-HCE3dosEr: #f0f2f2;
  --plasmic-token-grey-text: var(--token-HCE3dosEr);
  --token-HIMv0UPpo: 3rem;
  --plasmic-token-triple-base-size: var(--token-HIMv0UPpo);
  --token-HIMv0UPpo: 3rem;
  --plasmic-token-triple-base-size: var(--token-HIMv0UPpo);
  --token-QMayuc102: #bf69ea0d;
  --plasmic-token-purple-shadow: var(--token-QMayuc102);
  --token-QMayuc102: #bf69ea0d;
  --plasmic-token-purple-shadow: var(--token-QMayuc102);
  --token-3pcCKdOkD: 4rem;
  --plasmic-token-quadruple-base-font: var(--token-3pcCKdOkD);
  --token-3pcCKdOkD: 4rem;
  --plasmic-token-quadruple-base-font: var(--token-3pcCKdOkD);
  --token-l-9eGbyVG: 0.75rem;
  --plasmic-token-caption: var(--token-l-9eGbyVG);
  --token-l-9eGbyVG: 0.75rem;
  --plasmic-token-caption: var(--token-l-9eGbyVG);
  --token--b5osXx1K: #2b393cd9;
  --plasmic-token-scrim: var(--token--b5osXx1K);
  --token-R8vy1i-sY: #f0f2f266;
  --plasmic-token-grey-haze: var(--token-R8vy1i-sY);
  --token-R8vy1i-sY: #f0f2f266;
  --plasmic-token-grey-haze: var(--token-R8vy1i-sY);
  --token-UVOVaEprM: 16px;
  --plasmic-token-caption-2: var(--token-UVOVaEprM);
  --token-t636xv2AQ: 4rem;
  --plasmic-token-case-study-title: var(--token-t636xv2AQ);
  --token-OLqLhQML_: 2rem;
  --plasmic-token-double-font-size: var(--token-OLqLhQML_);
  --token-OLqLhQML_: 2rem;
  --plasmic-token-double-font-size: var(--token-OLqLhQML_);
  --token-HFErqa_jH: 1.5rem;
  --plasmic-token-base-font-150: var(--token-HFErqa_jH);
  --token-HFErqa_jH: 1.5rem;
  --plasmic-token-base-font-150: var(--token-HFErqa_jH);
}

.plasmic_tokens:where(.global_mode_dark) {
  --token-EkgtUgXeT: #f0f2f2;
  --plasmic-token-white: var(--token-EkgtUgXeT);
  --token-3F-Dll6EN: var(--token-EkgtUgXeT);
  --plasmic-token-grey: var(--token-3F-Dll6EN);
  --token-HCE3dosEr: var(--token-mfRasWXgp);
  --plasmic-token-grey-text: var(--token-HCE3dosEr);
  --token--b5osXx1K: #f0f2f2d9;
  --plasmic-token-scrim: var(--token--b5osXx1K);
  --token-R8vy1i-sY: #2b393c66;
  --plasmic-token-grey-haze: var(--token-R8vy1i-sY);
}

@media (min-width: 768px) {
  .plasmic_tokens {
    --token-1VSMIXpjx: 7rem;
    --plasmic-token-headline-size: var(--token-1VSMIXpjx);
    --token-R8vy1i-sY: #f0f0f240;
    --plasmic-token-grey-haze: var(--token-R8vy1i-sY);
  }
}

.plasmic_tokens:where(.global_mode_reveal) {
  --token--b5osXx1K: #2b393cd9;
  --plasmic-token-scrim: var(--token--b5osXx1K);
}

.plasmic_tokens:where(.global_highlight_work) {
  --token-UVOVaEprM: 0.75rem;
  --plasmic-token-caption-2: var(--token-UVOVaEprM);
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_mode_dark),
.plasmic_default_styles:where(.global_mode_reveal),
.plasmic_default_styles:where(.global_highlight_about),
.plasmic_default_styles:where(.global_highlight_work),
.plasmic_default_styles:where(.global_arrangement_float) {
  --mixin-tb6NxDygU-ES_font-family: "IBM Plex Mono";
  --mixin-tb6NxDygU-ES_font-size: var(--token-rLN83stw2);
  --mixin-tb6NxDygU-ES_font-weight: 400;
  --mixin-tb6NxDygU-ES_font-style: italic;
  --mixin-tb6NxDygU-ES_color: var(--token-3F-Dll6EN);
  --mixin-tb6NxDygU-ES_text-align: left;
  --mixin-tb6NxDygU-ES_text-transform: none;
  --mixin-tb6NxDygU-ES_line-height: 1.5;
  --mixin-tb6NxDygU-ES_letter-spacing: normal;
  --mixin-tb6NxDygU-ES_white-space: pre-wrap;
  --mixin-tb6NxDygU-ES_user-select: text;
  --mixin-tb6NxDygU-ES_text-decoration-line: none;
  --mixin-tb6NxDygU-ES_text-overflow: clip;
  --mixin-UsRtLbg2IvKO_font-family: "IBM Plex Mono";
  --mixin-UsRtLbg2IvKO_color: var(--token-3F-Dll6EN);
  --mixin-UsRtLbg2IvKO_font-size: var(--token-rLN83stw2);
  --mixin-UsRtLbg2IvKO_font-weight: 500;
  --mixin-UsRtLbg2IvKO_letter-spacing: -0.5px;
  --mixin-UsRtLbg2IvKO_line-height: 1.3;
  --mixin-UsRtLbg2IvKO_font-style: normal;
  --mixin-UsRtLbg2IvKO_margin-bottom: var(--token-2B3TB9Igd);
  --mixin-th4AhdJifJ2j_font-family: "Inter";
  --mixin-th4AhdJifJ2j_color: #000000;
  --mixin-th4AhdJifJ2j_font-size: 20px;
  --mixin-th4AhdJifJ2j_font-weight: 600;
  --mixin-th4AhdJifJ2j_letter-spacing: -0.3px;
  --mixin-th4AhdJifJ2j_line-height: 1.5;
  --mixin-I0zgEETpV3zj_font-family: "Inter";
  --mixin-I0zgEETpV3zj_color: #000000;
  --mixin-I0zgEETpV3zj_font-size: 16px;
  --mixin-I0zgEETpV3zj_font-weight: 600;
  --mixin-I0zgEETpV3zj_line-height: 1.5;
  --mixin-j34RzvhiFXtz_color: #0070f3;
  --mixin--TNo9gLKdHu3_border-left-color: #dddddd;
  --mixin--TNo9gLKdHu3_border-left-style: solid;
  --mixin--TNo9gLKdHu3_border-left-width: 3px;
  --mixin--TNo9gLKdHu3_color: #888888;
  --mixin--TNo9gLKdHu3_padding-left: 10px;
  --mixin-Esv3YyrIlToA_font-family: "Rasa";
  --mixin-Esv3YyrIlToA_color: var(--token-mfRasWXgp);
  --mixin-Esv3YyrIlToA_font-size: var(--token-1VSMIXpjx);
  --mixin-Esv3YyrIlToA_font-weight: 700;
  --mixin-Esv3YyrIlToA_letter-spacing: -2px;
  --mixin-Esv3YyrIlToA_line-height: 1;
  --mixin-Esv3YyrIlToA_font-style: normal;
  --mixin-APJxu-1Aub9C_font-family: "Rasa";
  --mixin-APJxu-1Aub9C_color: var(--token-3F-Dll6EN);
  --mixin-APJxu-1Aub9C_font-size: var(--token-3pcCKdOkD);
  --mixin-APJxu-1Aub9C_font-weight: 700;
  --mixin-APJxu-1Aub9C_letter-spacing: -1px;
  --mixin-APJxu-1Aub9C_line-height: 1.1;
  --mixin-BooxIwPQZw5R_font-family: "IBM Plex Mono";
  --mixin-BooxIwPQZw5R_color: var(--token-3F-Dll6EN);
  --mixin-BooxIwPQZw5R_font-size: var(--token-HFErqa_jH);
  --mixin-BooxIwPQZw5R_font-weight: 600;
  --mixin-BooxIwPQZw5R_line-height: 1.2;
  --mixin-BooxIwPQZw5R_font-style: normal;
  --mixin-BooxIwPQZw5R_margin-bottom: var(--token-2B3TB9Igd);
  --mixin-fS07USrhc1gQk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fS07USrhc1gQk_border-bottom-color: #dddddd;
  --mixin-fS07USrhc1gQk_border-bottom-style: solid;
  --mixin-fS07USrhc1gQk_border-bottom-width: 1px;
  --mixin-fS07USrhc1gQk_border-left-color: #dddddd;
  --mixin-fS07USrhc1gQk_border-left-style: solid;
  --mixin-fS07USrhc1gQk_border-left-width: 1px;
  --mixin-fS07USrhc1gQk_border-right-color: #dddddd;
  --mixin-fS07USrhc1gQk_border-right-style: solid;
  --mixin-fS07USrhc1gQk_border-right-width: 1px;
  --mixin-fS07USrhc1gQk_border-top-color: #dddddd;
  --mixin-fS07USrhc1gQk_border-top-style: solid;
  --mixin-fS07USrhc1gQk_border-top-width: 1px;
  --mixin-fS07USrhc1gQk_border-bottom-left-radius: 3px;
  --mixin-fS07USrhc1gQk_border-bottom-right-radius: 3px;
  --mixin-fS07USrhc1gQk_border-top-left-radius: 3px;
  --mixin-fS07USrhc1gQk_border-top-right-radius: 3px;
  --mixin-fS07USrhc1gQk_font-family: "Inconsolata";
  --mixin-fS07USrhc1gQk_padding-bottom: 1px;
  --mixin-fS07USrhc1gQk_padding-left: 4px;
  --mixin-fS07USrhc1gQk_padding-right: 4px;
  --mixin-fS07USrhc1gQk_padding-top: 1px;
  --mixin-icyY-rvmYuPyf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-icyY-rvmYuPyf_border-bottom-color: #dddddd;
  --mixin-icyY-rvmYuPyf_border-bottom-style: solid;
  --mixin-icyY-rvmYuPyf_border-bottom-width: 1px;
  --mixin-icyY-rvmYuPyf_border-left-color: #dddddd;
  --mixin-icyY-rvmYuPyf_border-left-style: solid;
  --mixin-icyY-rvmYuPyf_border-left-width: 1px;
  --mixin-icyY-rvmYuPyf_border-right-color: #dddddd;
  --mixin-icyY-rvmYuPyf_border-right-style: solid;
  --mixin-icyY-rvmYuPyf_border-right-width: 1px;
  --mixin-icyY-rvmYuPyf_border-top-color: #dddddd;
  --mixin-icyY-rvmYuPyf_border-top-style: solid;
  --mixin-icyY-rvmYuPyf_border-top-width: 1px;
  --mixin-icyY-rvmYuPyf_border-bottom-left-radius: 3px;
  --mixin-icyY-rvmYuPyf_border-bottom-right-radius: 3px;
  --mixin-icyY-rvmYuPyf_border-top-left-radius: 3px;
  --mixin-icyY-rvmYuPyf_border-top-right-radius: 3px;
  --mixin-icyY-rvmYuPyf_font-family: "Inconsolata";
  --mixin-icyY-rvmYuPyf_padding-bottom: 3px;
  --mixin-icyY-rvmYuPyf_padding-left: 6px;
  --mixin-icyY-rvmYuPyf_padding-right: 6px;
  --mixin-icyY-rvmYuPyf_padding-top: 3px;
  --mixin-vyA8ZBKXUiWrd_display: flex;
  --mixin-vyA8ZBKXUiWrd_flex-direction: column;
  --mixin-vyA8ZBKXUiWrd_align-items: stretch;
  --mixin-vyA8ZBKXUiWrd_justify-content: flex-start;
  --mixin-vyA8ZBKXUiWrd_list-style-position: outside;
  --mixin-vyA8ZBKXUiWrd_padding-left: 40px;
  --mixin-vyA8ZBKXUiWrd_position: relative;
  --mixin-vyA8ZBKXUiWrd_list-style-type: decimal;
  --mixin-J7oksC7th9srA_display: flex;
  --mixin-J7oksC7th9srA_flex-direction: column;
  --mixin-J7oksC7th9srA_align-items: stretch;
  --mixin-J7oksC7th9srA_justify-content: flex-start;
  --mixin-J7oksC7th9srA_list-style-position: outside;
  --mixin-J7oksC7th9srA_padding-left: 40px;
  --mixin-J7oksC7th9srA_position: relative;
  --mixin-J7oksC7th9srA_list-style-type: disc;
  --mixin-DK13ZFuLlnOo8_color: #3291ff;
}

@media (min-width: 768px) {
  .plasmic_default_styles,
  .plasmic_default_styles:where(.global_mode_dark),
  .plasmic_default_styles:where(.global_mode_reveal),
  .plasmic_default_styles:where(.global_highlight_about),
  .plasmic_default_styles:where(.global_highlight_work),
  .plasmic_default_styles:where(.global_arrangement_float) {
    --mixin-Esv3YyrIlToA_font-size: var(--token-1VSMIXpjx);
    --mixin-APJxu-1Aub9C_font-size: var(--token-1VSMIXpjx);
  }
}
:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-tb6NxDygU-ES_font-family);
  font-size: var(--mixin-tb6NxDygU-ES_font-size);
  font-weight: var(--mixin-tb6NxDygU-ES_font-weight);
  font-style: var(--mixin-tb6NxDygU-ES_font-style);
  color: var(--mixin-tb6NxDygU-ES_color);
  text-align: var(--mixin-tb6NxDygU-ES_text-align);
  text-transform: var(--mixin-tb6NxDygU-ES_text-transform);
  line-height: var(--mixin-tb6NxDygU-ES_line-height);
  letter-spacing: var(--mixin-tb6NxDygU-ES_letter-spacing);
  white-space: var(--mixin-tb6NxDygU-ES_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-UsRtLbg2IvKO_font-family);
  color: var(--mixin-UsRtLbg2IvKO_color);
  font-size: var(--mixin-UsRtLbg2IvKO_font-size);
  font-weight: var(--mixin-UsRtLbg2IvKO_font-weight);
  letter-spacing: var(--mixin-UsRtLbg2IvKO_letter-spacing);
  line-height: var(--mixin-UsRtLbg2IvKO_line-height);
  font-style: var(--mixin-UsRtLbg2IvKO_font-style);
  margin-bottom: var(--mixin-UsRtLbg2IvKO_margin-bottom);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-th4AhdJifJ2j_font-family);
  color: var(--mixin-th4AhdJifJ2j_color);
  font-size: var(--mixin-th4AhdJifJ2j_font-size);
  font-weight: var(--mixin-th4AhdJifJ2j_font-weight);
  letter-spacing: var(--mixin-th4AhdJifJ2j_letter-spacing);
  line-height: var(--mixin-th4AhdJifJ2j_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-I0zgEETpV3zj_font-family);
  color: var(--mixin-I0zgEETpV3zj_color);
  font-size: var(--mixin-I0zgEETpV3zj_font-size);
  font-weight: var(--mixin-I0zgEETpV3zj_font-weight);
  line-height: var(--mixin-I0zgEETpV3zj_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-j34RzvhiFXtz_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin--TNo9gLKdHu3_color);
  padding-left: var(--mixin--TNo9gLKdHu3_padding-left);
  border-left: var(--mixin--TNo9gLKdHu3_border-left-width)
    var(--mixin--TNo9gLKdHu3_border-left-style)
    var(--mixin--TNo9gLKdHu3_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-Esv3YyrIlToA_font-family);
  color: var(--mixin-Esv3YyrIlToA_color);
  font-size: var(--mixin-Esv3YyrIlToA_font-size);
  font-weight: var(--mixin-Esv3YyrIlToA_font-weight);
  letter-spacing: var(--mixin-Esv3YyrIlToA_letter-spacing);
  line-height: var(--mixin-Esv3YyrIlToA_line-height);
  font-style: var(--mixin-Esv3YyrIlToA_font-style);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-APJxu-1Aub9C_font-family);
  color: var(--mixin-APJxu-1Aub9C_color);
  font-size: var(--mixin-APJxu-1Aub9C_font-size);
  font-weight: var(--mixin-APJxu-1Aub9C_font-weight);
  letter-spacing: var(--mixin-APJxu-1Aub9C_letter-spacing);
  line-height: var(--mixin-APJxu-1Aub9C_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-BooxIwPQZw5R_font-family);
  color: var(--mixin-BooxIwPQZw5R_color);
  font-size: var(--mixin-BooxIwPQZw5R_font-size);
  font-weight: var(--mixin-BooxIwPQZw5R_font-weight);
  line-height: var(--mixin-BooxIwPQZw5R_line-height);
  font-style: var(--mixin-BooxIwPQZw5R_font-style);
  margin-bottom: var(--mixin-BooxIwPQZw5R_margin-bottom);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-fS07USrhc1gQk_background);
  font-family: var(--mixin-fS07USrhc1gQk_font-family);
  border-radius: var(--mixin-fS07USrhc1gQk_border-top-left-radius)
    var(--mixin-fS07USrhc1gQk_border-top-right-radius)
    var(--mixin-fS07USrhc1gQk_border-bottom-right-radius)
    var(--mixin-fS07USrhc1gQk_border-bottom-left-radius);
  padding: var(--mixin-fS07USrhc1gQk_padding-top)
    var(--mixin-fS07USrhc1gQk_padding-right)
    var(--mixin-fS07USrhc1gQk_padding-bottom)
    var(--mixin-fS07USrhc1gQk_padding-left);
  border-top: var(--mixin-fS07USrhc1gQk_border-top-width)
    var(--mixin-fS07USrhc1gQk_border-top-style)
    var(--mixin-fS07USrhc1gQk_border-top-color);
  border-right: var(--mixin-fS07USrhc1gQk_border-right-width)
    var(--mixin-fS07USrhc1gQk_border-right-style)
    var(--mixin-fS07USrhc1gQk_border-right-color);
  border-bottom: var(--mixin-fS07USrhc1gQk_border-bottom-width)
    var(--mixin-fS07USrhc1gQk_border-bottom-style)
    var(--mixin-fS07USrhc1gQk_border-bottom-color);
  border-left: var(--mixin-fS07USrhc1gQk_border-left-width)
    var(--mixin-fS07USrhc1gQk_border-left-style)
    var(--mixin-fS07USrhc1gQk_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-icyY-rvmYuPyf_background);
  font-family: var(--mixin-icyY-rvmYuPyf_font-family);
  border-radius: var(--mixin-icyY-rvmYuPyf_border-top-left-radius)
    var(--mixin-icyY-rvmYuPyf_border-top-right-radius)
    var(--mixin-icyY-rvmYuPyf_border-bottom-right-radius)
    var(--mixin-icyY-rvmYuPyf_border-bottom-left-radius);
  padding: var(--mixin-icyY-rvmYuPyf_padding-top)
    var(--mixin-icyY-rvmYuPyf_padding-right)
    var(--mixin-icyY-rvmYuPyf_padding-bottom)
    var(--mixin-icyY-rvmYuPyf_padding-left);
  border-top: var(--mixin-icyY-rvmYuPyf_border-top-width)
    var(--mixin-icyY-rvmYuPyf_border-top-style)
    var(--mixin-icyY-rvmYuPyf_border-top-color);
  border-right: var(--mixin-icyY-rvmYuPyf_border-right-width)
    var(--mixin-icyY-rvmYuPyf_border-right-style)
    var(--mixin-icyY-rvmYuPyf_border-right-color);
  border-bottom: var(--mixin-icyY-rvmYuPyf_border-bottom-width)
    var(--mixin-icyY-rvmYuPyf_border-bottom-style)
    var(--mixin-icyY-rvmYuPyf_border-bottom-color);
  border-left: var(--mixin-icyY-rvmYuPyf_border-left-width)
    var(--mixin-icyY-rvmYuPyf_border-left-style)
    var(--mixin-icyY-rvmYuPyf_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-vyA8ZBKXUiWrd_display);
  flex-direction: var(--mixin-vyA8ZBKXUiWrd_flex-direction);
  align-items: var(--mixin-vyA8ZBKXUiWrd_align-items);
  justify-content: var(--mixin-vyA8ZBKXUiWrd_justify-content);
  list-style-position: var(--mixin-vyA8ZBKXUiWrd_list-style-position);
  padding-left: var(--mixin-vyA8ZBKXUiWrd_padding-left);
  position: var(--mixin-vyA8ZBKXUiWrd_position);
  list-style-type: var(--mixin-vyA8ZBKXUiWrd_list-style-type);
  flex-column-gap: var(--mixin-vyA8ZBKXUiWrd_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-J7oksC7th9srA_display);
  flex-direction: var(--mixin-J7oksC7th9srA_flex-direction);
  align-items: var(--mixin-J7oksC7th9srA_align-items);
  justify-content: var(--mixin-J7oksC7th9srA_justify-content);
  list-style-position: var(--mixin-J7oksC7th9srA_list-style-position);
  padding-left: var(--mixin-J7oksC7th9srA_padding-left);
  position: var(--mixin-J7oksC7th9srA_position);
  list-style-type: var(--mixin-J7oksC7th9srA_list-style-type);
  flex-column-gap: var(--mixin-J7oksC7th9srA_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-DK13ZFuLlnOo8_color);
}
