.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: var(--token-rzc5XncK7);
  opacity: 0.7;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  border-width: 0px;
  border-style: none;
}
.rootcolor_grey {
  cursor: pointer;
}
.rootlowlighted {
  opacity: 0.3;
  width: 120px;
}
.rootcolor_orange {
  cursor: pointer;
}
.rootcolor_blue {
  cursor: pointer;
}
.roothighlighted {
  transform: translateX(0px) translateY(-1px) translateZ(0px);
  box-shadow: 0px 4px 11px 0px #bf69ea26;
  cursor: pointer;
  backdrop-filter: blur(15px);
  opacity: 1;
}
.root:hover {
  transform: translateX(0px) translateY(-1px) translateZ(0px);
  box-shadow: 0px 4px 11px 0px #bf69ea26;
  cursor: pointer;
  backdrop-filter: blur(15px);
  opacity: 0.9;
}
.root:focus-within {
  transform: translateX(0px) translateY(-1px) translateZ(0px);
  box-shadow: 0px 4px 11px 0px #bf69ea26;
  cursor: pointer;
  backdrop-filter: blur(15px);
  opacity: 0.9;
  outline: none;
}
.root___focusVisibleWithin {
  transform: translateX(0px) translateY(-1px) translateZ(0px);
  box-shadow: 0px 4px 11px 0px #bf69ea26;
  cursor: pointer;
  backdrop-filter: blur(15px);
  opacity: 0.9;
  outline: none;
}
.title {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  background: var(--token-mfRasWXgp);
  min-width: 140px;
  min-height: 32px;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  border-radius: 0.25rem;
  padding: var(--token-jA840K8cs);
}
.title > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-AXW6MdvYn));
  width: calc(100% + var(--token-AXW6MdvYn));
}
.title > :global(.__wab_flex-container) > *,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.title > :global(.__wab_flex-container) > picture > img,
.title > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-AXW6MdvYn);
}
.titlecolor_grey {
  background: var(--token-3F-Dll6EN);
}
.titlelowlighted {
  pointer-events: none;
}
.titlecolor_red {
  background: var(--token-7y9V0dm0-);
}
.titlecolor_orange {
  background: var(--token-pHc0CSHPE);
}
.titlecolor_yellow {
  background: var(--token-FpWQpvmos);
}
.titlecolor_green {
  background: var(--token-hBS1SvodX);
}
.titlecolor_mint {
  background: var(--token-tze2JIV_u);
}
.titlecolor_blue {
  background: var(--token-rbxblu3Hd);
}
.titlecolor_purple {
  background: var(--token-9BBOxo3h9);
}
.root:focus-within .title {
  outline: none;
}
.root .title___focusVisibleWithin {
  outline: none;
}
.slotTargetLabel {
  text-align: center;
  color: var(--token-EkgtUgXeT);
}
.slotTargetLabelcolor_grey {
  color: var(--token-HCE3dosEr);
}
.slotTargetLabelcolor_orange {
  color: var(--token-mfRasWXgp);
}
.slotTargetLabelcolor_yellow {
  color: var(--token-mfRasWXgp);
}
.slotTargetLabelcolor_green {
  color: var(--token-mfRasWXgp);
}
.slotTargetLabelcolor_mint {
  color: var(--token-mfRasWXgp);
}
.slotTargetLabelcolor_blue {
  color: var(--token-mfRasWXgp);
}
.root:focus-within .slotTargetLabel > *,
.root:focus-within .slotTargetLabel > .__wab_slot > *,
.root:focus-within .slotTargetLabel > .__wab_slot > .__wab_slot > *,
.root:focus-within
  .slotTargetLabel
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root:focus-within .slotTargetLabel > picture > img,
.root:focus-within .slotTargetLabel > .__wab_slot > picture > img,
.root:focus-within .slotTargetLabel > .__wab_slot > .__wab_slot > picture > img,
.root:focus-within
  .slotTargetLabel
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.root .slotTargetLabel___focusVisibleWithin > *,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > *,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root .slotTargetLabel___focusVisibleWithin > picture > img,
.root .slotTargetLabel___focusVisibleWithin > .__wab_slot > picture > img,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.root
  .slotTargetLabel___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.slotTargetIcon {
  color: var(--token-EkgtUgXeT);
}
.slotTargetIconcolor_grey {
  color: var(--token-HCE3dosEr);
}
.slotTargetIconcolor_orange {
  color: var(--token-mfRasWXgp);
}
.slotTargetIconcolor_yellow {
  color: var(--token-mfRasWXgp);
}
.slotTargetIconcolor_green {
  color: var(--token-mfRasWXgp);
}
.slotTargetIconcolor_mint {
  color: var(--token-mfRasWXgp);
}
.slotTargetIconcolor_blue {
  color: var(--token-mfRasWXgp);
}
.root:focus-within .slotTargetIcon > *,
.root:focus-within .slotTargetIcon > .__wab_slot > *,
.root:focus-within .slotTargetIcon > .__wab_slot > .__wab_slot > *,
.root:focus-within
  .slotTargetIcon
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root:focus-within .slotTargetIcon > picture > img,
.root:focus-within .slotTargetIcon > .__wab_slot > picture > img,
.root:focus-within .slotTargetIcon > .__wab_slot > .__wab_slot > picture > img,
.root:focus-within
  .slotTargetIcon
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.root .slotTargetIcon___focusVisibleWithin > *,
.root .slotTargetIcon___focusVisibleWithin > .__wab_slot > *,
.root .slotTargetIcon___focusVisibleWithin > .__wab_slot > .__wab_slot > *,
.root
  .slotTargetIcon___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > *,
.root .slotTargetIcon___focusVisibleWithin > picture > img,
.root .slotTargetIcon___focusVisibleWithin > .__wab_slot > picture > img,
.root
  .slotTargetIcon___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > picture
  > img,
.root
  .slotTargetIcon___focusVisibleWithin
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > picture
  > img {
  outline: none;
}
.svg__rm0Cy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
