.root {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-HCE3dosEr);
  margin-right: 8px;
  min-height: 0;
  border-radius: 1px;
  padding: var(--token-jA840K8cs) var(--token-2B3TB9Igd);
}
.rootstroke {
  background: none;
  border-width: 1px;
  border-style: solid;
}
.slotTargetLabel {
  font-size: var(--token-l-9eGbyVG);
}
.text___7ZTu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
