.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-HCE3dosEr);
  min-width: 0;
  min-height: 0;
}
@media (min-width: 768px) {
  .root {
    align-items: center;
  }
}
.link {
  position: fixed;
  top: var(--token-7u0VdrJ4P);
  left: var(--token-AXW6MdvYn);
  z-index: 10;
  display: flex;
}
.hero {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 0;
  right: 0;
}
@media (min-width: 768px) {
  .hero {
    overflow: hidden;
  }
}
.heroglobal_mode_reveal {
  display: none;
}
.img__z5CWf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 200px;
  left: auto;
  top: auto;
  z-index: auto;
  right: auto;
  width: 100%;
  object-position: 75% top;
  flex-shrink: 0;
}
.img__z5CWf > picture > img {
  object-fit: cover;
  object-position: 75% top;
}
.img__z5CWf > .__wab_img-spacer > img {
  object-fit: cover;
  object-position: 75% top;
}
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1698px;
  background: var(--token-HCE3dosEr);
  margin-top: 200px;
  min-width: 0;
  padding: var(--token-7u0VdrJ4P) var(--token-AXW6MdvYn) 52px;
}
@media (min-width: 768px) {
  .content {
    padding-right: var(--token-rzc5XncK7);
    padding-top: var(--token-T237bDoLkZ);
    padding-left: var(--token-T237bDoLkZ);
    max-width: 1268px;
    width: 100%;
    min-width: 0;
  }
}
.contentglobal_mode_reveal {
  margin-top: 4rem;
  padding-top: var(--token-T237bDoLkZ);
}
.header {
  flex-direction: column;
  display: flex;
  position: relative;
  margin-bottom: var(--token-rzc5XncK7);
  width: 100%;
  padding: 0px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .header > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .header > :global(.__wab_flex-container) > *,
  .header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .header > :global(.__wab_flex-container) > picture > img,
  .header
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.title {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-T237bDoLkZ);
  min-width: 0;
  padding: 0px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  font-size: var(--token-t636xv2AQ);
  color: var(--token-3F-Dll6EN);
  margin-top: var(--token-2B3TB9Igd);
  margin-bottom: var(--token-2B3TB9Igd);
  min-width: 0;
}
.slotTargetTitle {
  font-size: var(--token-t636xv2AQ);
}
.description {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetDescription {
  font-size: var(--token-l-9eGbyVG);
}
.services {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 30%;
  border-left-style: solid;
  border-left-width: 1px;
  min-width: 320px;
  min-height: 0;
  padding: 0px 0px 0px var(--token-AXW6MdvYn);
}
.services > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.services > :global(.__wab_flex-container) > *,
.services > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.services > :global(.__wab_flex-container) > picture > img,
.services
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
@media (min-width: 768px) {
  .services {
    height: auto;
    max-width: 30%;
    min-width: 140px;
  }
}
.slotTargetServices {
  color: var(--token-3F-Dll6EN);
}
.tag__biiB9:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
}
.text__oRvv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__kE5P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.text__oegoj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__fgfHd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__dvlR2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__hpi5N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__pxaQd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.tag__trtnX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___52AfD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.overview {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 1rem;
  min-width: 0;
  padding: 0px;
}
.overview > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.overview > :global(.__wab_flex-container) > *,
.overview > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.overview > :global(.__wab_flex-container) > picture > img,
.overview
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
@media (min-width: 768px) {
  .overview {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .overview > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
  }
}
.overviewImages {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.overviewImages > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.overviewImages > :global(.__wab_flex-container) > *,
.overviewImages > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.overviewImages > :global(.__wab_flex-container) > picture > img,
.overviewImages
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
@media (min-width: 768px) {
  .overviewImages {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .overviewImages > :global(.__wab_flex-container) {
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .overviewImages > :global(.__wab_flex-container) > *,
  .overviewImages > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .overviewImages > :global(.__wab_flex-container) > picture > img,
  .overviewImages
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.overviewImagesglobal_mode_reveal {
  display: none;
}
.freeBox___4M8J {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___4M8J > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-2B3TB9Igd));
  width: calc(100% + var(--token-2B3TB9Igd));
}
.freeBox___4M8J > :global(.__wab_flex-container) > *,
.freeBox___4M8J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4M8J > :global(.__wab_flex-container) > picture > img,
.freeBox___4M8J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-2B3TB9Igd);
}
@media (min-width: 768px) {
  .freeBox___4M8J {
    max-width: 60%;
  }
}
@media (min-width: 768px) {
  .freeBox___4M8J > :global(.__wab_flex-container) {
    margin-left: calc(0px - var(--token-AXW6MdvYn));
    width: calc(100% + var(--token-AXW6MdvYn));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox___4M8J > :global(.__wab_flex-container) > *,
  .freeBox___4M8J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4M8J > :global(.__wab_flex-container) > picture > img,
  .freeBox___4M8J
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-AXW6MdvYn);
    margin-top: 0px;
  }
}
.img___2YcZy {
  box-shadow: 0px 4px 16px 0px var(--token-QMayuc102);
  object-fit: cover;
  max-width: 50%;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
}
.img___2YcZy > picture > img {
  object-fit: cover;
}
.img___2YcZy > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img___2YcZy {
    max-width: 50%;
    flex-shrink: 1;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img___2YcZy > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img___2YcZy > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.img__gS99C {
  box-shadow: 0px 4px 16px 0px var(--token-QMayuc102);
  position: relative;
  object-fit: cover;
  max-width: 50%;
  width: 100%;
  flex-shrink: 1;
  min-width: 0;
}
.img__gS99C > picture > img {
  object-fit: cover;
}
.img__gS99C > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__gS99C {
    max-width: 50%;
    flex-shrink: 1;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img__gS99C > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img__gS99C > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: var(--token-rzc5XncK7);
  height: var(--token-rzc5XncK7);
  color: var(--token-3F-Dll6EN);
  flex-shrink: 0;
  display: block;
}
@media (min-width: 768px) {
  .svg {
    display: block;
  }
}
.img__lAzkm {
  box-shadow: 0px 4px 16px 0px var(--token-QMayuc102);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img__lAzkm > picture > img {
  object-fit: cover;
}
.img__lAzkm > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__lAzkm {
    max-width: 30%;
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img__lAzkm > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 768px) {
  .img__lAzkm > .__wab_img-spacer > img {
    object-fit: contain;
  }
}
.overviewCaption {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.overviewCaptionglobal_mode_reveal {
  display: none;
}
.slotTargetOverviewCaption {
  font-size: var(--token-l-9eGbyVG);
  color: var(--token-3F-Dll6EN);
}
.overviewDescription {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-T237bDoLkZ) !important;
  min-width: 0;
}
@media (min-width: 768px) {
  .overviewDescription {
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
    margin-top: var(--token-T237bDoLkZ) !important;
  }
}
.overviewDescriptionglobal_mode_dark {
  margin-top: var(--token-T237bDoLkZ) !important;
}
.problem {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-AXW6MdvYn);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 768px) {
  .problem {
    margin-right: var(--token-T237bDoLkZ);
    margin-left: 0px;
  }
}
.h3__i9Mpl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-style: normal;
  margin-top: var(--token-2B3TB9Igd);
  margin-bottom: var(--token-2B3TB9Igd);
  font-weight: 500;
  min-width: 0;
}
.slotTargetProblem {
  color: var(--token-3F-Dll6EN);
}
.approach {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h3__dcsPd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: var(--token-2B3TB9Igd);
  margin-bottom: var(--token-2B3TB9Igd);
  padding-bottom: 0px;
  min-width: 0;
}
.text___9TmiC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-AXW6MdvYn);
  min-width: 0;
  padding: 0px;
}
.h3___6KB0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: var(--token-2B3TB9Igd);
  margin-bottom: var(--token-2B3TB9Igd);
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__zGxN9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zGxN9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-AXW6MdvYn));
  height: calc(100% + var(--token-AXW6MdvYn));
}
.freeBox__zGxN9 > :global(.__wab_flex-container) > *,
.freeBox__zGxN9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zGxN9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zGxN9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-AXW6MdvYn);
}
@media (min-width: 768px) {
  .freeBox__zGxN9 {
    display: flex;
  }
}
.freeBox__t1Txf {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-2B3TB9Igd);
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__t1Txf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.freeBox__t1Txf > :global(.__wab_flex-container) > *,
.freeBox__t1Txf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t1Txf > :global(.__wab_flex-container) > picture > img,
.freeBox__t1Txf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.h4___2SBb1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__uWjBd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: var(--token-2B3TB9Igd);
  min-width: 0;
}
.freeBox__uWjBd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-AXW6MdvYn));
  height: calc(100% + var(--token-AXW6MdvYn));
}
.freeBox__uWjBd > :global(.__wab_flex-container) > *,
.freeBox__uWjBd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uWjBd > :global(.__wab_flex-container) > picture > img,
.freeBox__uWjBd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-AXW6MdvYn);
}
.text___5L9Dt {
  width: 100%;
  height: auto;
  padding-right: 0px;
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.img__dbx1Y {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.img__dbx1Y > picture > img {
  object-fit: cover;
}
.img__dbx1Y > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__pZcZ2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__pFzr3 {
  width: 100%;
  height: auto;
  padding-right: 0px;
  margin-right: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__tkYh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4__gxcwv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__uOads {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__uDUoD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4__leY5Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__gwt9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.gallery {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
