.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: var(--token-AXW6MdvYn);
  padding-bottom: var(--token-2B3TB9Igd);
}
.rootname_likeness {
  padding-top: 0rem;
}
.rootname_words {
  max-width: 480px;
  padding-top: 0rem;
}
.rootname_brandtool {
  padding-top: 0rem;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0rem;
}
.rootname_orgtool {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.rootname_tracks {
  padding-top: 0rem;
}
.rootname_learnin {
  padding-top: 0rem;
  justify-content: flex-start;
  align-items: center;
}
.words {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.wordsname_likeness {
  display: none;
}
.wordsname_words {
  display: flex;
}
.wordsname_brandtool {
  display: none;
}
.wordsname_orgtool {
  display: none;
}
.text__zzYs3 {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: none;
}
.textname_likeness__zzYs3Tam8T {
  display: none;
}
.textname_words__zzYs3GdArj {
  display: block;
}
.textname_brandtool__zzYs302Dcx {
  display: none;
}
.text__fSRh {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  plasmic-display-none: true;
  min-width: 0;
}
.textname_likeness__fSRhTam8T {
  display: none;
}
.textname_words__fSRhgdArj {
  display: block;
}
.textname_brandtool__fSRh02Dcx {
  display: none;
}
.text__f2X6O {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  plasmic-display-none: true;
  min-width: 0;
}
.textname_likeness__f2X6OTam8T {
  display: none;
}
.textname_words__f2X6OgdArj {
  display: block;
}
.textname_brandtool__f2X6O02Dcx {
  display: none;
}
.text__tYiB {
  margin-bottom: var(--token-AXW6MdvYn);
  width: 100%;
  height: auto;
  max-width: 800px;
  plasmic-display-none: true;
  min-width: 0;
}
.textname_likeness__tYiBtam8T {
  display: none;
}
.textname_words__tYiBgdArj {
  display: block;
}
.textname_brandtool__tYiB02Dcx {
  display: none;
}
.text__hWuag {
  width: 100%;
  height: auto;
  max-width: 800px;
  plasmic-display-none: true;
  min-width: 0;
}
.textname_likeness__hWuagTam8T {
  display: none;
}
.textname_words__hWuaggdArj {
  display: block;
}
.textname_brandtool__hWuag02Dcx {
  display: none;
}
.likeness {
  object-fit: cover;
  max-width: 200px;
  display: inline-block !important;
}
.likeness > picture > img {
  object-fit: cover;
}
.likeness > .__wab_img-spacer > img {
  object-fit: cover;
}
.likenessname_likeness {
  align-self: center;
}
.likenessname_words {
  display: none !important;
}
.likenessname_brandtool {
  display: none !important;
}
.likenessname_orgtool {
  display: none !important;
}
.likenessname_sprints {
  display: none !important;
}
.likenessname_tracks {
  display: none !important;
}
.likenessname_learnin {
  display: none !important;
}
.orgtool {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.orgtool > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.orgtool > :global(.__wab_flex-container) > *,
.orgtool > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.orgtool > :global(.__wab_flex-container) > picture > img,
.orgtool
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.orgtoolname_orgtool {
  display: flex;
}
.text__vluzm {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 480px;
  min-width: 0;
}
.freeBox__o3KS3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-2B3TB9Igd) 0px;
}
.tag__gphct:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__erNOd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.tag___6R4Ad:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__gMegt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.tag__ojZr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rzavJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.img__xhkUk {
  position: relative;
  object-fit: cover;
  max-width: 480px;
}
.img__xhkUk > picture > img {
  object-fit: cover;
}
.img__xhkUk > .__wab_img-spacer > img {
  object-fit: cover;
}
.brandtool {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-2B3TB9Igd);
}
.brandtool > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.brandtool > :global(.__wab_flex-container) > *,
.brandtool > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.brandtool > :global(.__wab_flex-container) > picture > img,
.brandtool
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-2B3TB9Igd);
}
.brandtoolname_brandtool {
  display: flex;
}
.text__tTtFw {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 480px;
  min-width: 0;
}
.freeBox__ihBuF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-bottom: var(--token-2B3TB9Igd);
  padding-top: var(--token-2B3TB9Igd);
  min-width: 0;
}
.tag___0ZkTz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.text__dnB2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.tag__yw9Qx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.text__dYOm5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.tag___8Cg2A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  min-height: 0;
}
.text__u51Tx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-3F-Dll6EN);
  min-width: 0;
}
.img__mxcUu {
  position: relative;
  object-fit: cover;
  max-width: 480px;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.img__mxcUu > picture > img {
  object-fit: cover;
}
.img__mxcUu > .__wab_img-spacer > img {
  object-fit: cover;
}
.learnin {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px;
}
.learninname_learnin {
  display: flex;
}
.text__z9Ey {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  margin-bottom: var(--token-AXW6MdvYn);
  min-width: 0;
}
.freeBox__r0Wut {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__r0Wut > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-jA840K8cs));
  width: calc(100% + var(--token-jA840K8cs));
}
.freeBox__r0Wut > :global(.__wab_flex-container) > *,
.freeBox__r0Wut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r0Wut > :global(.__wab_flex-container) > picture > img,
.freeBox__r0Wut
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-jA840K8cs);
}
.freeBox__b8ZD3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__hgkQw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__tuHAs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__qHaYy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__y70L2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__xzO0C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__rjN70 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__cZkPa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__tCun {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__mnFug {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__qRw6L {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__u6AAk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.freeBox__a5ZKr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.svg__sK1Ji {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__hHbAf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
}
.tracks {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 8px;
}
.tracksname_tracks {
  display: flex;
}
.text__rDhas {
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  min-width: 0;
}
.freeBox__xSz8B {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-7u0VdrJ4P) 0px;
}
.freeBox__xSz8B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - var(--token-AXW6MdvYn));
  width: calc(100% + var(--token-AXW6MdvYn));
}
.freeBox__xSz8B > :global(.__wab_flex-container) > *,
.freeBox__xSz8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xSz8B > :global(.__wab_flex-container) > picture > img,
.freeBox__xSz8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AXW6MdvYn);
}
.link__xs6V {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link__xs6V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link__xs6V > :global(.__wab_flex-container) > *,
.link__xs6V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__xs6V > :global(.__wab_flex-container) > picture > img,
.link__xs6V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__sdmbw {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__sO13D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.link__bIrkC {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link__bIrkC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link__bIrkC > :global(.__wab_flex-container) > *,
.link__bIrkC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bIrkC > :global(.__wab_flex-container) > picture > img,
.link__bIrkC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__wjqFi {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__d3Yj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.link___6NQdw {
  flex-direction: column;
  position: relative;
  margin-right: var(--token-jA840K8cs);
  display: flex;
}
.link___6NQdw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - var(--token-jA840K8cs));
  height: calc(100% + var(--token-jA840K8cs));
}
.link___6NQdw > :global(.__wab_flex-container) > *,
.link___6NQdw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___6NQdw > :global(.__wab_flex-container) > picture > img,
.link___6NQdw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-jA840K8cs);
}
.svg__cpFny {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-EkgtUgXeT);
  flex-shrink: 0;
}
.text__aampz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  font-size: var(--token-l-9eGbyVG);
  min-width: 0;
}
.text__qsBq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-EkgtUgXeT);
  line-height: 2;
  min-width: 0;
}
.span {
  color: var(--token-7y9V0dm0-);
  background: #f0f2f280;
  border-radius: 2px;
  padding: var(--token-jA840K8cs) var(--token-2B3TB9Igd);
}
