.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-EkgtUgXeT);
  min-width: 0;
  min-height: 0;
  padding: var(--token-rzc5XncK7) var(--token-T237bDoLkZ) var(--token-ijuZGsFkZ);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-2B3TB9Igd));
  height: calc(100% + var(--token-2B3TB9Igd));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-2B3TB9Igd);
}
.rootglobal_mode_dark {
  background: var(--token-mfRasWXgp);
}
.rootglobal_arrangement_float {
  display: block;
}
.link {
  position: absolute;
  top: 2%;
  left: auto;
  right: 2%;
  display: flex;
}
.callout {
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-QMayuc102);
  background: var(--token-3F-Dll6EN);
  display: none;
  border-radius: 4px;
  padding: 8px;
}
.callout > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-AXW6MdvYn));
  width: calc(100% + var(--token-AXW6MdvYn));
}
.callout > :global(.__wab_flex-container) > *,
.callout > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.callout > :global(.__wab_flex-container) > picture > img,
.callout
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-AXW6MdvYn);
}
.calloutglobal_highlight_work {
  display: flex;
}
.freeBox__aoj9Y {
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.svg__kiQg6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: var(--token-HCE3dosEr);
  min-width: 0;
  min-height: 0;
}
.svg__iqt6V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
  color: var(--token-9BBOxo3h9);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__ym5Bc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: var(--token-UVOVaEprM);
  color: var(--token-HCE3dosEr);
}
.svg__hdgd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-HCE3dosEr);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.likeness:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.likenessglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: 49.07%;
  top: 31.48%;
  width: auto;
  z-index: 1;
  right: auto;
}
@media (min-width: 768px) {
  .likenessglobal_arrangement_float:global(.__wab_instance) {
    left: auto;
    top: 26.07%;
    right: 63.54%;
  }
}
.svg__gvVi7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.words:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.wordsglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: 14.13%;
  top: 6.75%;
  width: auto;
}
.text__oP3Fs {
  padding-bottom: 0px;
}
.svg__iok3E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.headline:global(.__wab_instance) {
  position: relative;
  height: auto;
  left: auto;
  top: auto;
  bottom: auto;
  min-height: 20rem;
}
@media (min-width: 768px) {
  .headline:global(.__wab_instance) {
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.headlineglobal_mode_dark:global(.__wab_instance) {
  left: auto;
  top: auto;
  bottom: auto;
}
.headlineglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: 1rem;
  top: 20%;
  z-index: 0;
  min-height: auto;
}
@media (min-width: 768px) {
  .headlineglobal_arrangement_float:global(.__wab_instance) {
    top: 35%;
  }
}
.design:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.jeff:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.brandtool:global(.__wab_instance) {
  max-width: 100%;
}
.brandtoolglobal_arrangement_float:global(.__wab_instance) {
  width: auto;
  position: absolute;
  left: 6%;
  top: 72.2%;
}
.svg__laIzF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.orgtool:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
.orgtoolglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: auto;
  top: 15.89%;
  width: auto;
  z-index: 1;
  right: 4.27%;
}
.text__raQdW {
  display: block;
}
.svg__ff02 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.learnin:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
}
@media (min-width: 768px) {
  .learnin:global(.__wab_instance) {
    left: auto;
    top: auto;
    right: auto;
  }
}
.learninglobal_mode_reveal:global(.__wab_instance) {
  left: auto;
  top: auto;
  right: auto;
}
.learninglobal_highlight_about:global(.__wab_instance) {
  left: auto;
  top: auto;
  right: auto;
}
.learninglobal_highlight_work:global(.__wab_instance) {
  left: auto;
  top: auto;
  right: auto;
}
.learninglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: 57.33%;
  top: 47.83%;
  width: auto;
  z-index: 1;
}
@media (min-width: 768px) {
  .learninglobal_arrangement_float:global(.__wab_instance) {
    left: 59.44%;
    top: 52.54%;
  }
}
.svg__ofC2X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__yi9K {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__yi9K > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-jA840K8cs));
  width: calc(100% + var(--token-jA840K8cs));
}
.freeBox__yi9K > :global(.__wab_flex-container) > *,
.freeBox__yi9K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yi9K > :global(.__wab_flex-container) > picture > img,
.freeBox__yi9K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-jA840K8cs);
}
.freeBoxglobal_arrangement_float__yi9KZZfig {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 15.74%;
  right: 5.6%;
}
@media (min-width: 768px) {
  .freeBoxglobal_arrangement_float__yi9KZZfig {
    bottom: 17.68%;
    right: 5.49%;
  }
}
.sprints:global(.__wab_instance) {
  max-width: 100%;
}
.sprintsglobal_highlight_about:global(.__wab_instance) {
  flex-shrink: 0;
}
.sprintsglobal_arrangement_float:global(.__wab_instance) {
  width: auto;
}
.svg__hgkau {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.tracks:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
}
.tracksglobal_arrangement_float:global(.__wab_instance) {
  position: absolute;
  left: 40%;
  width: auto;
  z-index: 1;
  bottom: 5%;
}
@media (min-width: 768px) {
  .tracksglobal_arrangement_float:global(.__wab_instance) {
    left: 43.61%;
    bottom: 8.98%;
  }
}
.svg__xhEae {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__qLuNm {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: var(--token-2B3TB9Igd) var(--token-T237bDoLkZ);
}
.freeBoxglobal_arrangement_float__qLuNmzZfig {
  z-index: 0;
}
.reveal:global(.__wab_instance) {
  align-self: auto;
}
.svg__tyr6 {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
.home {
  display: flex;
  cursor: pointer;
}
.svg___1A3Bw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
}
.svgglobal_mode_dark___1A3BwJYvh {
  color: var(--token-EkgtUgXeT);
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-T237bDoLkZ);
  height: var(--token-T237bDoLkZ);
}
.svg___9Ekg {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  position: relative;
}
